{% extends'GeekPartyBundle::parent.html.twig' %}

{% block title %} {{ parent() }} :: Список комментариев {% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            {% include 'GeekPartyBundle:_comments:include_comments.html.twig' with {entities: entities, total_count: total_count} %}
        </div>
    </div>
{% endblock %}