@font-face {
    font-family: "pixel_font";
    src: url("../css/uni05_53.ttf");
}

@media (min-width: 1px) {
    #k-left-shadow, #k-right-shadow, #k-logo-gp, #k-logo-nc {
        display: none;
    }
}


@media (min-width: 992px) {
    #k-logo-gp {
        display: block;
        width: 227px;
        height: 100px;
        position: absolute;
        left: 0;
        top:0;
    }

    #k-logo-nc {
        display: block;
        width: 227px;
        height: 100px;
        position: absolute;
        right: 0;
        top:0;
    }
}
@media (min-width: 1200px) {}



@media (min-width: 768px) {
    #k-left-shadow, #k-right-shadow {
        display: block;
        width: 31px;
        height: 406px;
        position: absolute;
        z-index: -999;
        top: 0;
    }

    #k-left-shadow {
        background: url('../img/left-shadow.png');
        left: -31px;
    }

    #k-right-shadow {
        background: url('../img/right-shadow.png');
        right: -61px;
        /*right: -31px;*/
    }



}




#k-bg-gradient {
    background: url('../img/bg-gradient.png') repeat-x;
    height: 900px;
    width: 100%;
    position: absolute;
    top: 0;
    left:0;
    z-index: -999;
}


body {
    background: #0B2633;
}


#big-timer {
    color: #FFAA22;
    font: 40px/40px "pixel_font";
    padding-left: 30px;
}

/* Header & Logo */

.k-header {
    /*height: 102px;*/
    height: 102px;
    width: 100%;
    position: relative;
}



/*    Button */

.k-btn-left {
    float: left;
    width: 10px;
    height: 54px;
    background: url('../img/btn-left-part.png');
}

.k-btn-body {
    height: 54px;
    float: left;
    background: url('../img/btn-body.png');
    color: #000;
    text-align: center;
    padding-top: 14px;
    font: 14px/20px "pixel_font";
}

.k-btn-right {
    float: left;
    width: 10px;
    height: 54px;
    background: url('../img/btn-right-part.png');
}

.k-btn button {
    background: none;
    border: none;
}





.k-page-header {
    color: #ffd02e;
    font-size: 22px;
}


.k-separator {
    width: 100%;
    height: 31px;
    background: url("../img/2.png") repeat scroll;
}


.k-sub {
    color: #e3bf50;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 16px;
    display: block;
}


.k-red {
    color: #ff1a1a;
}


.p-main p {
    font-size: 18px;
}

.main-text {
    font-size: 18px;
}

.k-menu {
    height: 82px;
    padding-top: 10px;
    background: #0f2d3c url('../img/2.png') repeat-x 0px 16px;
    border-top: 6px solid #0A2532;
}


#k-page-header {
    /*height: 80px;*/
    position: relative;
}

#k-menu-social {
    position: absolute;
    right: 30px;
    bottom: 10px;
}


.k-image-margin {
    /*margin-bottom: 16px;*/
    padding-bottom: 16px;
}


@media (min-width: 1px) {
    .k-button {
        background: #000;
    }

    .k-button-active span {
        color: #fff;
    }
}

/*@media (min-width: 768px) {*/
@media (min-width: 500px) {
    .k-button {
        background: url('../img/cartridge-off.png');
        width: 80px;
        height: 65px;
        color: #000;
        display: inline-block;
        position: relative;
    }

    .k-button:hover {
        color: #000;
    }

    .k-button span {
        color: #000;
        width: 80px;
        text-align: center;
        display: block;
        padding-top: 14px;
        font: 14px/20px "pixel_font";
        position: absolute;
    }

    .k-button-active {
        background: url('../img/cartridge-on.png');
    }

    .k-button-active span {
        top: 18px;
    }
}


.k-entry-block {
    border-image: url("../img/border.png") 14 14 14 14;
    border-style: solid;
    border-width: 14px;
}

.k-gold-color {
    color: #e3bf50;
}



.k-works-list {
    padding: 0;
}

.k-works-list li {
    float: left;
    list-style-type: none;
    font-size: 16px;
    margin-right: 16px;
}

.k-works-list li.active {
    color: #fff;
    font-weight: 700;
}





.mr16 {
    margin-right: 16px;
}

.col-center {
    margin: 0 auto;
}


#k-footer {
    margin-top: 32px;
}

#k-footer p {
    font: 14px/14px "pixel_font";
    margin-bottom: 4px;
}

#k-footer div {
    background: #144B69;
    height: 32px;
    width: 100%;
}


.k-works-list {

}

.k-works-list li {
    float: left;
    list-style-type: none;
    font-size: 16px;
    margin-right: 16px;
}

.k-works-list li.active {
    color: #fff;
    font-weight: 700;
}









.k-img-border {
    border: 2px solid #f33;
}

.k-img-link {
    position: relative;
    width: 114px;
    height: 114px;
    display: inline-block;
}

.k-img-link span.k-img-play {
    position: absolute;
    background: url('../img/play-img.png') center center no-repeat;
    top: 7px;
    left: 7px;
    width: 100px;
    height: 100px;
    display: none;
}

.k-img-link:hover span {
    display: block;
}