@font-face {
    font-family: "pixel_font";
    src: url("../css/uni05_53.ttf");
}

#k-below-message a {
    font: 16px/30px "pixel_font";
}

@media (min-width: 1px) {
    #k-left-shadow, #k-right-shadow, #k-logo-gp, #k-logo-nc {
        display: none;
    }

    #k-timer-bg, #k-timer-bg2 {
        background: url('../img/timerBg.png');
        display: block;
        width: 455px;
        height: 140px;
        position: absolute;
        top:0;
    }

    #k-timer-bg2 {
        background: url('../img/timerBg-no-signs.png');
    }

    #big-timer {
        color: #FFAA22;
        font: 64px/45px "pixel_font";
        position: absolute;
        top: 60px;
        left: 110px;
    }

    #k-above-message {
        position: absolute;
        top: 30px;
        left: 102px;
        /*font-size: 16px;*/
        font: 16px/30px "pixel_font";
    }

    #k-below-message {
        position: absolute;
        top: 105px;
        left: 312px;
    }

    #k-message {
        color: #FFAA22;
        font: 34px/45px "pixel_font";
        position: absolute;
        top: 60px;
        left: 110px;
    }
}

@media (min-width: 992px) {
    #k-logo-gp {
        display: block;
        width: 227px;
        height: 140px;
        position: absolute;
        left: 0;
        top:0;
    }

    #k-timer-bg, #k-timer-bg2 {
        left: 227px;
    }

    #big-timer {
        left: 340px;
    }

    #k-logo-nc {
        display: block;
        width: 227px;
        height: 140px;
        position: absolute;
        right: 0;
        top:0;
    }

    #k-above-message {
        position: absolute;
        top: 30px;
        left: 330px;
        /*font-size: 16px;*/
        font: 16px/30px "pixel_font";
    }

    #k-below-message {
        position: absolute;
        top: 105px;
        left: 540px;
    }

    #k-message {
        color: #FFAA22;
        font: 34px/45px "pixel_font";
        position: absolute;
        top: 60px;
        left: 340px;
    }
}
@media (min-width: 1200px) {}

@media (min-width: 768px) {
    #k-left-shadow, #k-right-shadow {
        display: block;
        width: 31px;
        height: 406px;
        position: absolute;
        z-index: -999;
        top: 0;
    }

    #k-left-shadow {
        background: url('../img/left-shadow.png');
        left: -31px;
    }

    #k-right-shadow {
        background: url('../img/right-shadow.png');
        right: -61px;
        /*right: -31px;*/
    }
}

#k-bg-gradient {
    background: url('../img/bg-gradient.png') repeat-x;
    height: 900px;
    width: 100%;
    position: absolute;
    top: 0;
    left:0;
    z-index: -999;
}

body {
    background: #0B2633;
}

/* Header & Logo */

.k-header {
    height: 140px;
    width: 100%;
    position: relative;
}

/*    Button */

.k-btn {
    height: 52px;
    display: inline-block;
}

#content {
    margin: 16px;
    color: white;
}

.k-btn-left {
    float: left;
    width: 10px;
    height: 54px;
    background: url('../img/btn-left-part.png');
}

.k-btn-body {
    height: 54px;
    float: left;
    background: url('../img/btn-body.png');
    color: #000;
    text-align: center;
    padding-top: 14px;
    padding-left: 10px;
    padding-right: 10px;
    font: 14px/20px "pixel_font";
}

.k-btn-right {
    float: left;
    width: 10px;
    height: 54px;
    background: url('../img/btn-right-part.png');
}

.k-btn button {
    background: none;
    border: none;
}

.k-btn a {
    color: #000;
    font: 14px/20px "pixel_font";
}

.k-page-header {
    color: #ffd02e;
    font-size: 22px;
}

.k-separator {
    width: 100%;
    height: 31px;
    background: url("../img/2.png") repeat scroll;
}

.k-sub {
    color: #e3bf50;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 16px;
    display: block;
}

.k-red {
    color: #ff1a1a;
}

.p-main p {
    font-size: 18px;
}

.main-text {
    font-size: 18px;
}

.k-menu {
    height: 82px;
    padding-top: 10px;
    background: #0f2d3c url('../img/2.png') repeat-x 0px 16px;
    border-top: 6px solid #0A2532;
}

#k-page-header {
    /*height: 80px;*/
    position: relative;
}

#k-menu-social {
    position: absolute;
    right: 30px;
    bottom: 10px;
}

.k-image-margin {
    /*margin-bottom: 16px;*/
    padding-bottom: 16px;
}

@media (min-width: 1px) {
    .k-button {
        background: #000;
    }

    .k-button-active span {
        color: #fff;
    }
}

/*@media (min-width: 768px) {*/
@media (min-width: 500px) {
    .k-button {
        background: url('../img/cartridge-off.png');
        width: 80px;
        height: 65px;
        color: #000;
        display: inline-block;
        position: relative;
    }

    .k-button:hover {
        color: #000;
    }

    .k-button span {
        color: #000;
        width: 80px;
        text-align: center;
        display: block;
        padding-top: 14px;
        font: 14px/20px "pixel_font";
        position: absolute;
    }

    .k-button-active {
        background: url('../img/cartridge-on.png');
    }

    .k-button-active span {
        top: 18px;
    }
}

.k-button-left {
    background: url("../img/btn-left-part.png");
    float: left;
    width: 10px;
    height: 52px;
}

.k-button-body {
    background: url('../img/btn-body.png');
    float: left;
    height: 52px;
}

.k-button-body a {
    display: block;
    height: 52px;
    color: #000;
    text-align: center;
    padding: 0 8px;
    font: 14px/52px "pixel_font";
}

.k-button-body a:visited { color: #000; }

.k-button-right {
    background: url("../img/btn-right-part.png");
    float: left;
    width: 10px;
    height: 52px;
}

.k-button-small {
    top: -3px;
    height: 36px;
    background: none;
    width: auto;
}
.k-button-small .k-button-left {
    background: url("../img/buttons/sm-y-left.png");
    height: 36px;
}
.k-button-small .k-button-body {
    background: url("../img/buttons/sm-y-body.png");
    height: 36px;
}
.k-button-small .k-button-right {
    background: url("../img/buttons/sm-y-right.png");
    height: 36px;
}
.k-button-small .k-button-body a {
    font: 14px/31px "pixel_font" !important;
    height: 36px;
}

.k-entry-block, .FlatButton {
    border-image: url("../img/border.png") 14 14 14 14;
    border-style: solid;
    border-width: 14px;
    padding-left: 10px;
    padding-right: 10px;
}

.FlatButton i {
    color: white;
}

.k-entry-block h4 {
    padding-left: 17px;
}

.k-gold-color {
    color: #e3bf50;
}

.k-works-list {
    padding: 0;
}

.k-works-list li {
    float: left;
    list-style-type: none;
    font-size: 16px;
    margin-right: 16px;
}

.k-works-list li.active {
    color: #fff;
    font-weight: 700;
}

.mr16 {
    margin-right: 16px;
}

.col-center {
    margin: 0 auto;
}


#k-footer {
    margin-top: 32px;
}

#k-footer p {
    font: 14px/14px "pixel_font";
    margin-bottom: 4px;
}

#k-footer div {
    background: #144B69;
    height: 32px;
    width: 100%;
}

.k-works-list {

}

.k-works-list li {
    float: left;
    list-style-type: none;
    font-size: 16px;
    margin-right: 16px;
}

.k-works-list li.active {
    color: #fff;
    font-weight: 700;
}

.k-img-border {
    border: 2px solid #fff;
}

.k-img-link {
    position: relative;
    width: 114px;
    height: 114px;
    display: inline-block;
}

.k-img-link span.k-img-play {
    position: absolute;
    background: url('../img/play-img.png') center center no-repeat;
    top: 7px;
    left: 5px;
    width: 100px;
    height: 100px;
    display: none;
}

.k-img-link:hover span {
    display: block;
}

.record_actions {
    list-style: none;
}

.k-inline {
    display: inline-block;
}

.PartiesTable td {
    padding: 5px;
}

.Form .PartyThemeText {
    padding-top: 5px;
    position: relative;
    top: -14px;
    width: 400px;
}

.PartyThemeVote .PartyTheme {
    font: 17px/53px sans-serif;
}

.PartyThemeForm .k-btn {
    padding-top: 6px;
    padding-left: 22px;
}

.k-news-block td {
	padding: 5px;
	border: 1px #1c6c94 solid;
}

.PartyEdit input, .PartyEdit select {
    /*color: black;*/
}

.HeaderLogo {
    position: relative;
    left: 50px;
    top: 10px;
}

.ProjectVote {
    display: inline-block;
    line-height: 62px;
    padding-right: 14px;
}

.ProjectStar {
    width: 160px;
    height: 32px;
    background: url('/img/5ts.png') no-repeat;
}

.ActiveVoting .ProjectStar {
    cursor: pointer;
}

.VoteResult.ProjectVote {
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}

.VoteTextResult {
    margin-top: 12px;
    font: 30px/24px "pixel_font";
    color: #FFAA22;
}

.ProjectStarInner {
    width: 0;
    height: 28px;
    background: url('/img/5f.png');
}

.UnuploadedListHeader {
    padding-top: 40px;
}

.UserAvatar {
    width: 100px;
    height: 100px;
}

.CommentAuthor {
    width: 14%;
    float: left;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    display: inline-block;
    min-width: 130px;
}

.CommentText {
    float: left;
    width: 80%;
    box-sizing: border-box;
    /* no avatar offset */
    padding-left: 17px;
}

.CommentText textarea {
    width: 100%;
}

.Comment {
    padding-right: 20px;
}

.Comment .k-sub {
    float: right;
}

.CommentsLink {
    float: right;
    margin-top: 12px;
    line-height: 24px;
}

#upload_image_form {
    color: black;
    z-index: 70000;
}

#upload_image_form .modal-dialog {
    z-index: 70001;
}

#ResponsiveFileManager {
    width: 910px;
    height: 420px;
}

.glyphicon-keys-white {
    background: url("/img/glyphicons-45-keys-white.png");
    line-height: 16px;
}

.glyphicon-keys-red {
    background: url("/img/glyphicons-45-keys-red.png");
    line-height: 16px;
}

.rd-container {
    font-family: Georgia, Helvetica, serif;
    color: black;
}

.rd-day-body {
    color: rgb(44, 62, 80);
    cursor: pointer;
    display: table-cell;
    font-family: Georgia, Helvetica;
    font-size: 17px;
    height: 20px;
    text-align: center;
    width: 29px;
}

.rd-time-list {
    z-index: 1000;
}

.success-message {
    border-image: url("../img/border.png") 14 14 14 14;
    border-width: 14px;
    color: #FFAA22;
    margin: 0 10px 10px 10px;
}

.k-party-list .row:not(:last-child) {
    border-bottom: solid 2px #092f40;
}

.k-party-list .row {
    margin-top: 15px;
}

.Loading, .ProjectVote, #Saved, .PullLeft {
    float: left;
}

.Loading, #Saved {
    display: none;
}

#Saved {
    line-height: 30px;
    color: #31ed20;
}

.Clear {
    clear: both;
}