#gdp-columns-bg {
    background: #0a222e;
}

#gdp-columns {
    background: #0a222e;
    overflow: hidden;
}
    .gdp-column-header {
        border: 1px solid #6cdeff;

        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;

        height: 42px;
    }
        #gdp-column-q { background: url("./../img/icon-q.png") no-repeat; }
        #gdp-column-p { background: url("./../img/icon-p.png") no-repeat; }
        #gdp-column-r { background: url("./../img/icon-r.png") no-repeat; }

        .gdp-column-header span {
            font: 18px/42px "Roboto";
            color: #ff9b1a;
            display: block;
            text-align: center;
        }
        .gdp-column-body {
            border: 1px solid #2f8094;
            border-left: none;
            border-right: none;
            height: 144px;
            margin: 23px 0;
            padding: 16px 16px 23px 16px;
            font: 18px/20px "Open Sans";
            color: #dce6cc;

            min-width: 144px;
            position: relative;
        }
            /*.gdp-column-body p { text-indent: 40px; }*/
            .gdp-column-body a { display: block; color: #f0c42e; }