#gdp-menu {
    height: 116px;
    background: url("../img/bg-menu.png") 0 11px repeat-x;
    /*background: #222 url("../img/bg-menu.png") 0 11px repeat-x;*/
    position: relative;
}
    #gdp-menu-buttons { position: absolute; }
@media (min-width: 1px) {
    .gdp-menu-button {
        top: 38px;
        /*background: url('../img/menu-button.png');*/
        background: #F0C42E;
        border: 3px solid #5D400A;

        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;

        width: 80px;
        height: 40px;
        margin-right: 10px;
        display: inline-block;
        position: relative;
    }
        .gdp-menu-button span {
            text-transform: uppercase;
            width: 80px;
            display: block;
            text-align: center;
            font: 12px/32px "pixel_font";
            color: #5d400a;
        }
    .gdp-menu-button-active {
        top: 66px;
        border-bottom: none;
        height: 36px;
    }
}

@media (min-width: 991px) {

        .gdp-menu-button {
            top: 33px;
            background: url('../img/menu-button.png');
            width: 121px;
            height: 56px;
            margin-right: 21px;
            display: inline-block;
            position: relative;
            border: none;
        }
            .gdp-menu-button span {
                text-transform: uppercase;
                width: 120px;
                display: block;
                text-align: center;
                font: 16px/46px "pixel_font";
                color: #5d400a;
            }
        .gdp-menu-button-active {
            background: url('../img/menu-button-active.png');
            top: 54px;
            height: 50px;
        }
}


