{% extends 'GeekPartyBundle::parent.html.twig' %}
{% block main %}
    <h1>Under construction</h1>
    <p>Ой, похоже у нас что-то сломалось.</p>
    <p>Попробуйте перейти на главную страницу или зайдите чуть позже, мы уже чиним поломку!</p>
{% endblock %}
