#gdp-footer {
    margin-top: 110px;
    background: #14445e;
    padding: 8px;
}
    #gdp-footer span {
        color: #ffd02e;
        font: 14px/14px "Roboto";
        font-weight: 600;
        width: 100%;
        text-align: right;
        display: block;
    }