@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

@font-face {
    font-family: "pixel_font";
    src: url("../fonts/uni05_53.ttf");
}
/* fuck2 */

html {
    overflow-y: scroll;
}

html, body { background: #0f2c3b; }


a {
    color: #ffd02e;
    text-decoration: none;
}
a:hover { color: #ffd02e; }
a:visited { color: #ffd02e;}

a.admin {
    color: #d1443b;
}

.mt10 { margin-top: 10px; }
.mt16 { margin-top: 16px; }
.mt20 { margin-top: 20px; }
.mt26 { margin-top: 26px; }


.gdp-border {
    border: 1px solid #6cdeff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.gdp-header-row select {
    border: 1px solid #6cdeff !important;
    color: #ffd02e !important;
    outline: 0 none;
    padding: 0 22px 0 4px;
    font: 16px/20px "Roboto" !important;
    font-weight: bold !important;
    height: 28px !important;

    background: #0A212E url("../img/select-arrow.png") no-repeat right !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.PullRight {
    float: right;
    position: absolute;
    bottom: 10px;
    right: 0;
}

.rd-time-list {
    z-index: 100;
    border: 2px solid black;
}

.error, .k-red {
    color: red;
}

.hidden {
    display: none;
}

.party-theme-voting-ok {
    color: green;
    float: right;
}
