<div class="k-btn">
    <div class="k-btn-left"></div>
    <div class="k-btn-body">
        {% block content %}
            <a href="{{ link|default('javascript:void(0)') }}">{{ text }}</a>
        {% endblock %}
    </div>
    <div class="k-btn-right"></div>
</div>