{% block content %}
    <a href="{{ link|default('javascript:void(0)') }}">
        <div class="k-btn">
            <div class="k-btn-left"></div>
            <div class="k-btn-body">{{ text }}</div>
            <div class="k-btn-right"></div>
        </div>
    </a>
{% endblock %}