<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% block title %} GeekParty {% endblock %}</title>
    <meta name="keywords" content="geekparty" />
    <meta name="description" content="Гик-пати — это цифровое творчество в режиме реального времени" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/js/countdown.js?2"></script>
	<script type="text/javascript" src="/js/jquery.animate-colors-min.js"></script>
	<script type="text/javascript" src="/js/jRating.jquery.js"></script>
	<script type="text/javascript" src="/js/jtweetsanywhere-de-1.3.1.min.js"></script>
    <script type="text/javascript" src="http://platform.twitter.com/anywhere.js?id=ZSO1guB57M6u0lm4cwqA&v=1"></script>
    <script type="text/javascript" src="/js/jquery.jslidery-0.1.0.js"></script>
    <script type="text/javascript" src="/js/jquery.jtweetsanywhere-1.3.1.min.js"></script>
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?87"></script>
    <script type="text/javascript">
        VK.init({apiId: 3561840, onlyWidgets: true});
    </script>

    <link rel="stylesheet" type="text/css" href="/css/style.css?2" media="screen"/>
	<link rel="stylesheet" type="text/css" href="/css/jRating.jquery.css" media="screen" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/jquery.jtweetsanywhere-1.3.1.css" />

    <link rel="shortcut icon" href="/favicon.ico" />
</head>
<body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1&appId=452612894814235";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
	<div id="backgroundFX"></div>
	<div id="wrapper">
		<div id="sidebar">
			<div id="sidebarFX"></div>
			<ul id="navigation">
				<li{% if app.request.requestUri == '/' %} class="navActive"{% endif %}><a href="/">Main</a></li>
				<li{% if app.request.requestUri == '/people' %} class="navActive"{% endif %}><a href="/people">People</a></li>
				<li{% if app.request.requestUri == '/about' %} class="navActive"{% endif %}><a href="/about">About</a></li>
				<li{% if '/works' in app.request.requestUri  %} class="navActive"{% endif %}><a href="/works">Works</a></li>
			</ul>
		</div>
		
		<div id="container">
			<div id="header">
				<div id="sitelogo">
					<a href="/">
						<img src="/img/logo.png" alt="sdsd" />
					</a>
				</div>
				<div id="timer" class="{% if showtime %}showtime{% endif %}">
                    {% if showtime %}
                    <p class="timerLabel showtime">GP#3 состоялось!</p>
                    {% else %}
					<p id="days" class="timerLabel">01</p>
					<p id="dhColon" class="timerLabel">:</p>
					<p id="hours" class="timerLabel">08</p>
					<p id="hmColon" class="timerLabel">:</p>
					<p id="minutes" class="timerLabel">23</p>
                    {% endif %}
				</div>
                <div class="socialContainer">
                    <div id="vk_like"></div>
                    <script type="text/javascript">
                        VK.Widgets.Like("vk_like", {type:"button",pageImage:"http://geekparty.su/img/logo.png",pageUrl:"http://geekparty.ru/",text:"Гикпати.Ру - хорошее мерориятие"});
                    </script>
                    <div class="fb-like" data-href="http://geekparty.ru/" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
                    <div class="socialTwitterButton">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-lang="ru" data-hashtags="geekpartyru" data-url="http://geekparty.ru/" data-text="Гикпати.Ру — хорошее мерориятие">Tweet</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </div>
                </div>
				<div id="account">
					<div id="accountLogin">
                    {#
						<form class="loginForm" action="" method="">
							<p class="inputBg"><input id="_login" class="usePixelFont" name="value1" type="text" value="Geeklogin" /></p>
							<p class="inputBg"><input id="_password" class="usePixelFont" name="value2" type="text" value="Password" /></p>
						</form>
                    #}
					</div>
					<div id="accountActions">
                    {#
						<div class="usePixelFont">
							<a id="doLogin" class="fRight" href="">Login</a>
							<span id="separator" class="fRight">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
							<a id="doRegister" class="fRight" href="">Register</a>
						</div>
						<div>
							<a id="doForget" class="fRight" href="">Забыли пароль?</a>
						</div>
                    #}
					</div>
				</div>
			</div>
			<div id="headerBorder"></div>
			<div id="page">
				{% block main %} {% endblock %}
				<div id="footer">
					<div id="footerDescription">
						<p class="usePixelFont">GEEK PARTY (c) 2013 | info@geekparty.ru</p>
					</div>
					<div id="footerBlock"></div>
				</div>
			</div> <!-- page -->
		</div> <!-- containert -->
	</div> <!-- wrapper -->

<script type="text/javascript" src="/js/less-1.3.3.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		/*$(".basic").jRating({
			step: true,
			length: 5,
			rateMax: 5,
			decimal: 1
		});*/
	});
</script>
</body>
</html>
