{% import 'GeekPartyBundle::macros.html.twig' as macros %}
{% import 'GeekPartyBundle::macros_project.html.twig' as macros_project %}

<div class="row">
    <div class="col-md-6">
        {% for entry in works %}
            {% if loop.index0 % 2 == 0 %}
                {{ macros_project.project_block(entry, current_user) }}
            {% endif %}
        {% endfor %}
    </div>

    <div class="col-md-6">
        {% for entry in works %}
            {% if loop.index0 % 2 != 0 %}
                {{ macros_project.project_block(entry, current_user) }}
            {% endif %}
        {% endfor %}
    </div>

    {% if works|length == 0 %}
        <div class="col-md-12">
            <h4>Работ пока нет</h4>
        </div>
    {% endif %}
</div>