{% extends 'GeekPartyBundle::parent.html.twig' %}

{% import 'GeekPartyBundle::macros.html.twig' as macros %}
{% import 'GeekPartyBundle::_comments/macros.html.twig' as comments_macros %}

{% block title %} {{ parent() }} :: {{ entity.title }} {% endblock %}

{% block main %}

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                {% include 'GeekPartyBundle::article.html.twig' with {'entity':entity} %}

                {{ comments_macros.addComment('article', entity.id) }}
                {% include 'GeekPartyBundle::_comments/include_comments.html.twig' with comments %}
            </div>
        </div>
    </div>

    <div id="content">


    </div>

{% endblock %}