{% extends 'GeekPartyBundle::parent.html.twig' %}

{% import 'GeekPartyBundle::macros.html.twig' as macros %}
{% import 'GeekPartyBundle::_comments/macros.html.twig' as comments_macros %}

{% block title %} {{ parent() }} :: {{ entity.title }} {% endblock %}

{% block main %}
    <div id="content">
        <ul class="NewsList">
            {% include 'GeekPartyBundle::article.html.twig' with {'entity':entity} %}
        </ul>

        <div style="clear:both;"></div>
        {{ comments_macros.addComment('article', entity.id) }}
        {% include 'GeekPartyBundle::_comments/include_comments.html.twig' with {comments:entity.comments} %}
    </div>

{% endblock %}