{% macro theme(t) %}
    {{ t.text }}
    {% if is_admin() %}
        (Голоса: {{ t.votes|length }})

        by <a href="{{ path('geek_party_user_show', { id: t.user.id }) }}">{{ t.user.fullname  }}</a>
    {% endif %}
{% endmacro %}