parameters:
    database_driver: pdo_mysql
    database_host: localhost
    database_port: null
    database_name: geekpartyru
    database_user: root
    database_password: ''
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    locale: en
    secret: my_secret
    database_path: null
    fb_app_id: 123
    fb_secret: 123
    vk_app_id: 123
    vk_app_secret: 123
    disqus_shortname: geekparty
    admin_email: geekparty.ru@gmail.com
    fake_login_enabled: false