{% extends 'GeekPartyBundle::parent.html.twig' %}

{% block title %} GeekParty :: Новая работа {% endblock %}

{% block main %}

<form action="{{ path('admin_works', {'action': 'edit'}) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_works') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
