{% extends 'GeekPartyBundle::parent.html.twig' %}

{% import 'GeekPartyBundle::macros.html.twig' as macros %}

{% block title %} {{ parent() }} :: Мои работы {% endblock %}

{% block main %}

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">

                <div class="gdp-header-row gdp-border">
                    <div class="gdp-header-row-body">
                        {% image '@GeekPartyBundle/Resources/public/img/icon-w.png' %}
                            <img src="{{ asset_url }}" alt="rule" />
                        {% endimage %}
                        <span>Мои работы | <a class="gdp-admin" href="{{ path("project_new") }}">[добавить работу]</a> </span>
                    </div>
                </div>

                {% include 'GeekPartyBundle::_projects/list.html.twig' with {'projects': works} %}

                <div class="gdp-entry-separator"></div>
                {{ macros.button('Добавить работу', path('project_new')) }}

            </div>
        </div>
    </div>

{% endblock %}
