{% extends 'GeekPartyBundle::parent.html.twig' %}

{% import 'GeekPartyBundle::macros.html.twig' as macros %}

{% block title %} {{ parent() }} :: Мои работы {% endblock %}

{% block main %}
    <div id="content">
        <h2 class="PullLeft">Новости</h2>
        <div class="PullRight">
            {{ macros.button('Добавить работу', path('project_new')) }}
        </div>
        <div class="Clear"></div>
        {% include 'GeekPartyBundle::works.html.twig' with {'works': works} %}
        {{ macros.button('Выйти', path('fos_user_security_logout')) }}
    </div>
{% endblock %}
