{% extends 'GeekPartyBundle::parent.html.twig' %}

{% import 'GeekPartyBundle::macros.html.twig' as macros %}

{% block title %} GeekParty :: Мои работы {% endblock %}

{% block main %}
    <div id="content">
        {{ macros.button('Добавить работу', path('project_new')) }}
        {% include 'GeekPartyBundle::works.html.twig' with {'works': works} %}
    </div>
{% endblock %}
