@import "./css/reset.css";
@font-face {
    font-family: "pixel_font";
    src: url("../css/uni05_53.ttf");
}
html {
    background: none repeat scroll 0 0 #091F2A;
}
#backgroundFX {
    background: -moz-radial-gradient(center, ellipse cover,  rgba(21,72,99,1) 0%, rgba(21,72,99,0.78) 25%, rgba(19,65,90,0.68) 37%, rgba(9,31,42,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(21,72,99,1)), color-stop(25%,rgba(21,72,99,0.78)), color-stop(37%,rgba(19,65,90,0.68)), color-stop(100%,rgba(9,31,42,0))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(21,72,99,1) 0%,rgba(21,72,99,0.78) 25%,rgba(19,65,90,0.68) 37%,rgba(9,31,42,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(21,72,99,1) 0%,rgba(21,72,99,0.78) 25%,rgba(19,65,90,0.68) 37%,rgba(9,31,42,0) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(21,72,99,1) 0%,rgba(21,72,99,0.78) 25%,rgba(19,65,90,0.68) 37%,rgba(9,31,42,0) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(21,72,99,1) 0%,rgba(21,72,99,0.78) 25%,rgba(19,65,90,0.68) 37%,rgba(9,31,42,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#154863', endColorstr='#00091f2a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    height: 2000px;
    position: absolute;
    top: -1000px;
    width: 99%;
}
#wrapper {
    left: -80px;
    margin: 0 auto;
    position: relative;
	width: 960px;
}
#container {
    padding-left: 160px;
    width: 100%;
}
.p16 {
    padding: 16px;
}
.usePixelFont {
    font: 14px/18px pixel_font;
}
p {
    color: white;
	line-height: 24px;
}
* {
    font-family: Arial;
}
a {
    color: #C1B400;
}
h2 {
    color: #E3BA22;
    font-size: 160%;
    margin: 0;
}
span.orange {
    color: #F69506;
}
.borderBlock {
    border-image: url("../img/border.png") 14 14 14 14;
    border-style: solid;
    border-width: 14px;
}
#header {
    height: 144px;
}
#sitelogo {
    float: left;
}
#timer {
	background: url("../img/timerBg.png") repeat scroll 0 0 transparent;
    float: left;
    height: 136px;
    margin: 0 0 0 36px;
    position: relative;
    width: 455px;
}
.timerLabel {
    color: #FFAA22;
    float: left;
    font: 75px/75px pixel_font;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 38px;
    width: 100px;
}
#days {
    left: 70px;
}
#dhColon {
    left: 174px;
    width: 20px;
}
#hours {
    left: 205px;
}
#hmColon {
    left: 310px;
    width: 20px;
}
#minutes {
    left: 340px;
}
#account {
	display: none;
    float: right;
    margin: 0 16px 0 0;
}
#accountLogin {
    margin: 10px 0 0;
    overflow: hidden;
}
.inputBg {
	background: url("../img/textInputBg.png") scroll 0 0 transparent;
    height: 30px;
    margin: 4px 0 0;
    width: 195px;
}
.loginForm input {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #F6F829;
    float: left;
    font-size: 18px;
    outline: 0 none;
    padding: 2px 6px;
    width: 168px;
}
#accountActions {
    margin: 10px 0 0;
}
#accountActions div {
    overflow: hidden;
}
#doLogin, #doRegister, #separator {
    color: #FFFAFF;
}
#doForget {
    color: #A9AEB1;
}
#headerBorder {
    background: url("../img/topbar.png") repeat scroll 0 0 transparent;
    height: 42px;
}
#sidebar {
    float: left;
    position: absolute;
    top: 226px;
    width: 160px;
}
#sidebar #sidebarFX {
    background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 54%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,1)), color-stop(54%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 54%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 54%,rgba(0,0,0,0) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 54%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 54%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    height: 500px;
    position: absolute;
    right: -30px;
    top: -60px;
    width: 60px;
    z-index: 0;
}
#navigation {
	list-style-type: none;
    background: none repeat scroll 0 0 transparent;
    overflow: hidden;
    padding: 0;
}
#navigation li {
    background: transparent url("../img/menu_btn_off.png") no-repeat scroll 0 -12px ;
    height: 66px;
    position: relative;
}
#navigation li a {
    color: black;
    font-family: pixel_font;
    font-size: 17px;
    left: 26px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 16px;
    width: 80px;
}
#navigation li:hover {
    background: url("../img/menu_btn_over.png") no-repeat scroll 0 -12px transparent;
    left: 0;
}
#navigation li:hover a {
    color: #FFFFFF;
    left: 26px;
}
#navigation .navActive {
	background: transparent url("../img/menu_btn_on.png") no-repeat scroll 0 -12px;
    left: 30px;
}
#navigation .navActive a {
    left: 36px;
}
#page {
    background: none repeat scroll 0 0 #0E3449;
    padding: 16px 0 0;
    position: absolute;
    width: 100%;
    z-index: 999;
}
#firstline {
    overflow: hidden;
}
#firstline #brief {
    float: left;
    width: 60%;
}
/*#firstline #brief */
div.briefLine {
    border-bottom: 1px solid #185E82;
    overflow: hidden;
    padding: 16px;
}
/*#firstline #brief */.briefLine:last-child {
    border: medium none;
}
/*#firstline #brief */.briefLine .briefImage {
    float: left;
	width: 80px;
}
/*#firstline #brief */.briefLine .briefDescription {
    color: white;
	overflow: hidden;
}
#firstline #twitter {
    float: left;
    width: 40%;
}
#entries {
    clear: both;
}
#entries .entry {
}
#entries .entry .entryPadding {
    margin: 0;
    overflow: hidden;
    padding: 0 8px 8px;
    position: relative;
}
#entries .entry .entryPadding .entryLeftBar {
    float: left;
    width: 160px;
}
#entries .entry .entryPadding .entryLeftBar .playGame {
    background: url("../img/button.png") repeat scroll 0 0 transparent;
    display: block;
    height: 54px;
    position: relative;
    width: 116px;
}
#entries .entry .entryPadding .entryLeftBar .playGame .playLabel {
    color: black;
    font-family: pixel_font;
    font-size: 18px;
    left: 10px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 96px;
}
#entries .entry .entryPadding .entryLeftBar .playGame .playLabel:hover {
    color: white;
}
#entries .entry .entryPadding .entryLeftBar .basic {
    display: none;
    margin: 16px 0 0;
}
#entries .entry .entryPadding .entryLeftBar a.numVotes {
    color: #AAAAAA;
    display: none;
    float: right;
    font-size: 14px;
    margin: 0 12px 0 0;
}
#entries .entry .entryPadding .entryRightBar {
    float: left;
    width: 600px;
}
#entries .entry .entryPadding .entryRightBar .entryDescription {
    overflow: hidden;
}
#entries .entry .entryPadding .entryRightBar .entryDescription p {
    line-height: 16px;
}

#gameContainer {
	width: 800px;
	margin: 0 auto;
}

span.currentParty {
	color: white;
	font-weight: bold;
}

.credits {
    margin: 0;
}
.credits tr {
    line-height: 1.4;
}
tr .detail {
    color: #E2B02D;
    width: 80px;
}
tr .description a {
    color: #CDCFCC;
}
#entries .entry .entryPadding a.entryComments {
    bottom: 0;
    /*color: #CDCFCC;*/
    /*display: none;*/
    float: right;
    position: absolute;
    right: 16px;
}
#footer #footerDescription {
    float: right;
    margin: 32px 0 0;
}
#footer #footerDescription p {
    margin: 0;
}
#footer #footerBlock {
    background: none repeat scroll 0 0 #144B69;
    clear: both;
    height: 32px;
}

/**
NEW
**/

#content {
    margin: 16px;
}

#partySwitcher h2 {
    float: left;
}

#partySwitcher #partyNavigation {
    float: left;
    margin: 0 0 0 36px;
}

#partySwitcher #partyNavigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#partySwitcher #partyNavigation ul li {
    float: left;
    line-height: 30px;
    margin: 0 0 0 16px;
}
ul.briefList {
    list-style-type: square;
    margin-top: 0;
    padding-top: 0;
}
#yandexMap * {
    margin: 0 auto;
}

/* Social buttons */

.socialContainer {
    float: right;
    margin-top: 32px;
}

#vk_like {
}

.socialContainer .fb-like {
    top: 5px;
    display: block;
    z-index: 1000;
}

.socialContainer .socialTwitterButton {
    padding-top: 10px
}

.socialContainerGame {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    padding-top: 5px;
}

.socialContainerGame #vk_like_game {
    display: inline;
}

.socialContainerGame #fb-like {
    top: -3px;
}

.socialContainerGame .socialTwitterButton {
    display: inline;
    padding-left: 38px;
}