{% extends 'GeekPartyBundle::parent.html.twig' %}

{% block title %} {{ parent() }} :: Файловый менеджер {% endblock %}

{% block main %}
    <div id="content">
        <p>
            <a href="{{ path('geek_party_admin_index') }}">&larr; Назад</a>
        </p>
        <iframe src="/image_upload/filemanager/dialog.php?type=0&fldr=" id="ResponsiveFileManager"></iframe>
    </div>
{% endblock %}