{% extends 'GeekPartyBundle::parent.html.twig' %}

{% block main %}

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="gdp-news-row">
                    {% if text.body is not null %}
                        {{ text.body|raw }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
