{% extends 'GeekPartyBundle::parent.html.twig' %}

{% block main %}
<div class="content">
    <h2>
        Великая цель
    </h2>
    
    <p>
        Компьютер &mdash; совершенное орудие для творчества. Наша цель &mdash; объединить близких по духу людей, увлеченных технологиями, и вместе менять мир к лучшему. Компьютер дает нам свободу: творить, мыслить и жить как хочется. Все, кто умеет  (или хочет научится!) выражать себя в цифре &mdash; добро пожаловать.  
    </p>
    
    <p>
        Слово &laquo;гик&raquo; в названии Гик-пати означает человека, увлеченного творчеством и новыми технологиями. 
    </p>

    <h2>
        Время и место Гик-пати №2
    </h2>
    <p>
        Время: 23 февраля, 2013, в субботу, начало в 12.00, окончание &mdash; следующее утро. 
    </p>
    <p>
        Место: IT-бар [<a href="http://vk.com/kl10tch">Klюtch</a>]. Ул. Чехова, д. 3. Ступеньки вниз. Цветастая дверь в андерграунд. Пароль: Гик-пати.  
    </p>
    <p>
        Метро Площадь Восстания. 
    </p>
    
    <div id="ymaps-map-id_136157756246726062489" style="width: 450px; height: 350px;"></div>
    <div style="width: 450px; text-align: right;"><a href="http://api.yandex.ru/maps/tools/constructor/index.xml" target="_blank" style="color: #1A3DC1; font: 13px Arial, Helvetica, sans-serif;">Создано с помощью инструментов Яндекс.Карт</a></div>
    <script type="text/javascript">function fid_136157756246726062489(ymaps) {var map = new ymaps.Map("ymaps-map-id_136157756246726062489", {center: [30.353803999999972, 59.93764596798268], zoom: 15, type: "yandex#map"});map.controls.add("zoomControl").add("mapTools").add(new ymaps.control.TypeSelector(["yandex#map", "yandex#satellite", "yandex#hybrid", "yandex#publicMap"]));map.geoObjects.add(new ymaps.Placemark([30.353804, 59.93644], {balloonContent: "Kl10tch"}, {preset: "twirl#lightblueDotIcon"}));};</script>
    <script type="text/javascript" src="http://api-maps.yandex.ru/2.0-stable/?lang=ru-RU&coordorder=longlat&load=package.full&wizard=constructor&onload=fid_136157756246726062489"></script>
    
    <h2>
        Программа Гик-пати №2
    </h2>
    <p>
        На Гик-пати №1 мы делали игры, и, после дикой жжонки и концентрации, на выходе получили аж три игры. На пати №2 мы решили не отклоняться от заданного курса, и так же будем делать игры. Ибо игра &mdash; передовой цифровой продукт, сочетающий последние достижения IT, а так же все основные гик-мастерства: дизайн, код, звук. 
    </p>
    
    <p>
        Итак, 23 февраля, 2013, случится следующее: 
    </p>
    
    <ul>
        <li>12.00. Начало Гик-Пати №2. </li>
        <li>12.00 &mdash; 13.00. Вступительное слово, разделение на команды. </li>
        <li>13.00 &mdash; 00.00 (полночь). Дикий цифровой отжиг. </li>
        <li>00.00. Просмотр результатов. Подведение итогов. </li>
        <li>XX.YY. Веселье с применением умеренного алкоголя.  </li>
        <li>Утро. Расход по домам. </li>
    </ul>
    
    <p>
        Также в программе:
    </p>
    <ul>
        <li>
            Показ последних демок и произведений цифрового искусства
        </li>
        <li>
            Много положительного общения
        </li>
    </ul>
    
    <p>
        Действие будет происходить в замечательном баре [<a href="http://vk.com/kl10tch">Klюtch</a>], первом в Санкт-Петербурге постинтернет заведении для братьев в цифре.  
    </p>
    
    <h2>
        Участие
    </h2>
    <p>
        Ждем всех, кто творит в цифре, от новичка до гуру. Это:
    </p>
    <ul>
        <li>Художники</li>
        <li>Программеры</li>
        <li>Дизайнеры (флэш, хтмл, видео, геймдизайн, сценарии)</li>
        <li>Звуковики (композиторы, звукорежиссеры)</li>
    </ul>
    
    <p>
        Чтобы принять участие в создании игры, нужно ОБЯЗАТЕЛЬНО зарегистрироваться. Для этого определитесь с профилем (см. выше), напишите на geekparty.ru@gmail.com (тема "Гик-пати №2") ваше имя и гик-профиль. Если вы программер, напишите ваш основной вид скиллов (С++, PHP и т.д.), и знаете ли вы JavaScript. Вам в ответ придет подтверждение о регистрации.    
    </p>
    
    <p>
        ВНИМАНИЕ! Приходите со СВОИМ НОУТБУКОМ (планшетом, миди-клавой, или что вам надо для отжига), на котором стоит нужный софт / framework. Также не забудьте взять мышь. Если вы придете с пустыми руками, то с очень большой вероятностью останетесь без орудий труда, и перейдете в разряд наблюдателей. 
    </p>
    
    <p>
        Если вы не собираетесь принимать участие в создании игр, но хотите посмотреть как это выглядит, &mdash; добро пожаловать. Наличие сидячих мест и свободных столов в этом случае не гарантированно, однако можно будет выпить стаканчик у стойки бара, позаглядывать в мониторы пребывающих в цифровой нирване гиков.   
    </p>
    
    <p>
        Особое предпочтение гостям:
    </p>
    <ul>
        <li>Блоггерам (с условием написать пост про GeekParty)</li>
        <li>Фотографам (зафотать событие)</li>
        <li>Симпатичным девушкам (встретить своего Цукерберга, ну или просто порадовать гиков своей улыбкой :) </li>
    </ul>
    
    
    <h2>
        Игры и технология на GP#2
    </h2>
    <p>
        Технология для игры выбрана HTML5. Она позволяет работать с графикой и звуком используя браузерный язык JavaScript. Многие про нее слышали, но еще не так много людей, кто щупал html5 собственным умом. Гик-пати №2 &mdash; отличная возможность это сделать. 
    </p>
    
    <p>
        JavaScript был придуман для обучения детей программированию, поэтому его с легкостью поймет любой программист. По свободе написания кода он подобен флэшу, так что флешеры будут чувствовать себя как дома. Строгие сишники будут чувствовать себя необычно, как будто немного в облаках, но тоже неплохо. Мы подготовим небольшой фреймворк на html5, который даст возможность быстро написать игру. Если у кого-то есть свои фреймворки или предложения какой из существующих html5 движков задействовать, пишите на geekpatry.ru@gmail.com. 
    </p>
    
    <p>
        Собранные нами игры на HTML5 будут играться во всех браузерах и даже в браузерах мобильных телефонов, что есть неоспоримый плюс для продвижения Гик-Пати и его идеологии в массы. Если возникнет желаение показать другу, чем же ты занимался на Гик-пати, достаточно будет просто набрать урл в мобиле. 
    </p>
    
    <p>
        Базовый геймплей, который мы применим в играх, будет дьявольски прост, т.к. на его реализацию у нас будет всего 1 день. Его описание можно посмотреть здесь: <a href="http://vk.com/album-45798697_170200015">http://vk.com/album-45798697_170200015</a>.
    </p>
    
    
</div>

{% endblock %}
