{% extends 'GeekPartyBundle::parent.html.twig' %}

{% block main %}
				<div id="content">
					<div class="briefLine">
						<div class="briefImage">
							<img src="./img/icon_place.png" alt="place"/>
						</div>
						<div class="briefDescription">
							<h2>Игры на GP#5</h2>
							<p>В этот раз на Гик-пати мы будем создавать <span class="orange">шутеры-скроллеры</span>. </p>
							<p>Гик-пати №5 продет внутри фестиваля компьютерного творчества <a href="http://2013.chaosconstructions.ru/">Chaos Constructions</a>. Он едиственный в России фестиваль такого масштаба и уровня, и его атмосфера и идеология полностью совпадает с духом Гикпати. В этот раз Гикпати будет длится <span class="orange">24 ЧАСА</span> к ряду и можно успеть собрать весьма стоящие игры, да и еще как следуют повариться в кругу единомышленников.</p>
							<p>Технологию вы выбираете сами. Как обычно, наше главное правило - чтобы ваше творение игралось онлайн, и любой человек мог оценить его, зайдя к нам на сайт. Мы рекомендуем Flash, Haxe, HTML5 или Unity. Все они прекрасно работают в браузере. Можно приходить со своими заготовками по коду. По сеттингу также ограничений нет. Если кто-то хочет делать эрогуро с расчленёнкой или шутер про котиков и бабочек - ради бога. Главное, чтобы ваше творение содержало в себе отжиг и задор.</p>
							<p>В 12.00 нало Гикпати, в 14.00 следующего дня - крайний срок сдачи работ. В 16.00 того же (второго) дня показ работ и голосование за лучшие работы. На этот раз на Гикпати будет выбран неиллюзорный победитель, а также 2-е и 3-е -местополучатель, открытым голосованием всех учасников Chaos Constructions. Призёры получат грамоты и сертификаты от GeekParty и CC. Это престижно, круто и запомнится надолго, так как на CC собераются матёрые кодеры и цифровые художники со всего ex-USSR.</p>
							<p>Если вы приняли решение идти, а так же если вы хотите собрать себе команду, зарегестрируйтесь здесь: <a href="/people">People.</a> Вы также можете прийдти на фестиваль в любое время 10 августа, без предварительной регистрации, в субботу, и найти нас под крупной выеской Geekparty. Мы все расскажем вам и зарегистрируем на месте. Главное - не забудте ноуты и планшеты.</p>
							<p>Внимание! Вход на фестиваль CC платный: 500 рублей. Но эти деньги пойдут целиком в вашу цифровую карму. Кроме того, вы увидите много такого, чего вы никогда не видели. Оно того стоит.</p>							
						</div>
					</div> <!-- briefLine -->
					<div class="briefLine">
						<div class="briefImage">
							<img src="./img/icon_place.png" alt="place"/>
						</div>
						<div class="briefDescription">
							<h2>Программа GP#5</h2>
							<p>В день пати, 10 августа 2013 года, случится следующее: </p>
								<ul class="briefList">
									<li>12.00 суббота. Открытие CC и начало Гик-Пати, со вступительной речью.</li>
									<li>12.00 суббота - 14.00 воскресения. Дикий цифровой отжиг.</li>
									<li>14.00 воскресение. Крайний срок сдачи работ.</li>
									<li>~16.00. Показ работ. Голосование.</li>
									<li>21.00. Награждение победителей. Веселие.</li>
								</ul>
							<p>Также в программе Chaos Constructions:</p>
							<ul class="briefList">
								<li>Много-много цифрового отжига и искусства</li>
								<li>Высокая концентрация единомышленников</li>
								<li>Много положительного общения</li>
								<li>Новые хорошие знакомые, как мальчики, так и девочки ;)</li>
							</ul>
						</div>
					</div> <!-- briefLine -->
					<div class="briefLine">
						<div class="briefImage">
							<img src="./img/icon_place.png" alt="place"/>
						</div>
						<div class="briefDescription">
							<h2>Время и место GP#5</h2>
							<p><b>Время:</b> 10 августа, 2013, в субботу, начало в 12.00. Действие будет происходить в замечательном клубе А2. Вход 500 руб., но это того стоит.</p>
							<p><b>Место:</b> <a href="http://a2.fm/">Клуб A2</a>. Пр. Медиков, д. 3.</p>
							<p><b>Метро:</b> Петроградская</p>
							

<div id="ymaps-map-id_137514649178055111568" style="width: 450px; height: 350px;"></div>
<div style="width: 450px; text-align: right;"><a href="http://api.yandex.com/maps/index.xml" target="_blank" style="color: #1A3DC1; font: 13px Arial, Helvetica, sans-serif;">Powered by Yandex.Maps</a></div>
<script type="text/javascript">function fid_137514649178055111568(ymaps) {var map = new ymaps.Map("ymaps-map-id_137514649178055111568", {center: [30.315292999999986, 59.96939590535534], zoom: 16, type: "yandex#map"});map.controls.add("zoomControl").add("mapTools").add(new ymaps.control.TypeSelector(["yandex#map", "yandex#satellite", "yandex#hybrid"]));map.geoObjects.add(new ymaps.Placemark([30.315293, 59.968772], {balloonContent: ""}, {preset: "twirl#lightblueDotIcon"}));};</script>
<script type="text/javascript" src="http://api-maps.yandex.ru/2.0-stable/?lang=en-US&coordorder=longlat&load=package.full&wizard=constructor&onload=fid_137514649178055111568"></script>
							
							<p>Наш имейл: <a href="mailto:geekparty.ru@gmail.com">geekparty.ru@gmail.com</a>.</p>
						</div>
					</div> <!-- briefLine -->
				</div> <!-- content -->
{% endblock %}
