{% extends 'GeekPartyBundle::parent.html.twig' %}

{% block main %}
    <div id="content">
        <div>
            {% if text.body is not null %}
                {{ text.body|raw }}
            {% endif %}
        </div>
    </div> <!-- content -->
{% endblock %}
