{% extends 'GeekPartyBundle::parent.html.twig' %}

{% block main %}

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="gdp-raw">
                    <h1>Цель GameDevParty</h1>
                    <p>Компьютерные игры - это особенное искусство. В нем сочетаются технологии, арт, звук, сценарное мастерство. Это единственный вид искусства, где игрок из пассивного зрителя превращается в участника художественного произведения.</p>
                    <p>Задачи GameDevParty:</p>
                    <ul>
                        <li>Сделать искусство создания видео-игр доступным и популярным.</li>
                        <li>Дать возможность разработчикам реализовать себя и заявить о себе.</li>
                        <li>Найти себе братьев по духу и обрести радость чистого творчеста.</li>
                    </ul>
                    <p>Вы опытный разработчик, но хочется сделать игрушку для души? На GDP вы легко можете исполнить свои замыслы и поделиться ими с коллегами. Вы, начинающий разработчик и только хотите попробовать себя на стезе геймдева? Вам также на GPD: придумайте игру, возьмите редактор и сделайте ее. Мы проводим GameDevParty для разработчиков, айтишников, художников, дизайнеров, студентов, школьников, а также всех, кто хочет попробовать себя в этом увлекательном деле, деле создания игр.</p>

                    <p>GameDevParty - это, прежде всего, геймджем.</p>

                    <h3>Что такое Геймджем?</h3>
                    <p>Геймджем - это соревнование по разработке игр (Game — игра, Jam — от музыкального понятия jam session, когда музыканты собираются и импровизируют без специальной предварительной подготовки). Похоже на хакатон, посвященный конкретно играм. Явление геймджемов последние годы набирает все большую популярность в мире. На крупнейших геймджемах <a href="#">Ludum Dare</a> и <a href="#">globalgamejam.org</a> собираются тысячи работ.</p>
                    <p>Делать игры становиться все проще, инструменты разработки становятся более мощными и удобными. Игры теперь можно делать просто для удовольствия. Их можно делать в компании друзей. Через них можно реализовать свои творческие идеи. Компьютер дает нам еще больше свободы, свободы создавать свои собственные реальности. Воспользуемся же ей!</p>

                    <h1>Правила GameDevParty</h1>

                    <ul>
                        <li>Для участия в GDP нужно во время проведения GDP добавить работу в разделе “Загрузить”.</li>
                        <li>GDP длиться одну неделю.</li>
                        <li>Размер команды разработчиков не ограничен. Можно делать игру в одиночку, можно вдесятером.</li>
                        <li>Игра должна играться в браузере, чтобы ее можно было запускать здесь, на сайте <a href="#">gamegevparty.ru</a>.</li>
                        <li>Можно пользоваться сторонними материалами: движками, исходным кодом, артом, звуком. Ответственность за авторские права на эти материалы лежит на авторе игры.</li>
                        <li>Игра должна соответствовать теме джема.</li>
                        <li>Победитель выбирается по высшему среднему баллу, набранному игрой во время голосования. В голосовании принимают участие все желающие.</li>
                    </ul>


                    <h1>Руководство начинающего геймджемера</h1>
                    <p>Главное задача в геймджеме — успеть собрать что-то законченное, и с этой задачей справляются далеко не все участники.</p>
                    <p>Поэтому основные советы:</p>
                    <ul>
                        <li>Геймдизайн должен быть максимально прост, и содержать не более одной киллер-фичи. Идеально, чтобы он умещался на один лист A4.</li>
                        <li>Выбирайте ту технологию или язык, которыми владеете. Шанс сделать что-то законченное и стоящее повышается в разы.</li>
                        <li>Обязательно оставьте время на баланс и полировку игры. Очень часто получатся, что игра заливается в последний момент, и кроме автора в нее НИКТО не играл. Для других людей такая игра может оказаться неиграбельной, хотя эту ошибку можно исправить подкрутив пару переменных в игре, и игра займет достойное место. Поэтому:</li>
                        <li>Обязательно дайте сыграть в игру человеку со стороны и посмотрите, как он играет.</li>
                        <li>Планируйте свое время. Вопрос тайм-менеджмента при сжатых сроках стоит особенно остро. Лучше разбить мысленно разработку на этапы: мозговой штурм, дизайн на листе А4, прототип, играбельная версия, озвучка, баланс, полировка.</li>
                        <li></li>И, наконец, не забывайте хорошо высыпаться, правильно питаться и гулять. Ваш организм скажет вам спасибо.</li>

                    </ul>


                    <p>Обязательным условие GDP: ваше творение должно играться в браузере, т.к. все работы оказываются здесь, на сайте gamegevparty.ru. Поэтому мы рекомендуем такие технологии как Flash, Unity, HaXe, HTML5. Также можно задействовать такие замечательные конструкторы игр как GameMaker и Construct 2.</p>
                    <p>В целом, победа в геймджеме чем-то напоминает победу игры на рынке при попадании ее на первые места топов. У вас есть ограниченный ресурс — время и команда, есть идея (новая? оригинальная?) и есть ее реализация (хорошая / не очень). У вас есть аудитория, в которую надо попасть: другие участники или посетители gamedevparty.ru. Все эти факторы, как и в случае коммерческого продукта, в конечном счете, и создают успех на GDP (как они создают его и на популярных платформах). Поэтому принимая участие в GDP, можно испытать, как вертится мир “настоящего” геймдева в миниатюре.</p>

                    <h1>Авторские права</h1>

                    <p>Созданная игра - ваша собственность. Вы можете развивать ее и сделать из нее коммерческий продукт. Также можно апдейтить игру после GDP через админку, если вам захочется исправить баги или улучшить проект.</p>

                    <h1>История проекта</h1>

                    <p>Первый геймджем мы провели осенью 2012 года. Тогда он выходил под брендом Geekparty. Идея имела успех среди разработчиков и единомышленников. С тех пор прошло много геймджемов, был сделан сайт и проект вышел в онлайн. Появилась возможность участвовать удаленно. В 2014 году проект был переименован в GameDevParty, название, более соответствующее происходящему на сайте. Всю историю GameDevParty можно найти в разделе Играть, где выложены ВСЕ работы, со всех геймджемов.</p>

                    <h1>Контакты</h1>
                    <p>Если у вас есть идеи и предложения, пишите нам:</p>
                    <p><a href="mailto:geekparty.ru@gmail.com">geekparty.ru@gmail.com</a></p>

                    <h3>Орг. комитет</h3>
                    <p>Алексей Серебров, Егор Левченко, Георгий Коршунов, Кирилл Пономарев, Сергей Басов</p>




                </div>
            </div>
        </div>
    </div>


    {# keereal dbg hardcoded #}

    {#<div class="container">#}
        {#<div class="row">#}
            {#<div class="col-md-12 col-xs-12">#}
                {#<div class="gdp-news-row">#}
                    {#{% if text.body is not null %}#}
                        {#{{ text.body|raw }}#}
                    {#{% endif %}#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

{% endblock %}
