{% extends 'GeekPartyBundle::parent.html.twig' %}

{% block main %}
				<div id="content">
					<div class="briefLine">
						<div class="briefImage">
							<img src="./img/icon_place.png" alt="place"/>
						</div>
						<div class="briefDescription">
							<h2>Игры и технология на GP#4</h2>
							<p>В этот раз на Гик-пати мы будем создавать <span class="orange">графические новеллы</span> - это истории, рассказанные в картинках. История может быть любой длинны и любой степени интерактивности. Можно по клику просто мотать слайды, можно выбирать варианты ответов и действий, можно сделать активные области на экране, и изобразить мини-квест. Можно добавить анимации, а можно обойтись и голыми джипегами. Классический пример интерактивной новеллы - старые японские порно квесты, с выбором действий внизу экрана, и слегка ветвящимся сюжетом.</p>
							<p>Технологию вы выбираете сами, главное, чтобы творение игралось онлайн. Мы рекомендуем Flash, Haxe, HTML5 или Unity. Можно приходить со своими заготовками по коду. Для тех, кто не хочет \ не умеет кодить, мы соберем болванку на Flash, с помощью, которой любой художник (или команда художников), сможет собрать ветвящийся сюжет с диалогами и выбором действий, не прибегая к помощи программеров.</p>
							<p>Так что, друзья, кто хочет на этой пати просто порисовать в свое удовольствие - добро пожаловать. Достаточно раздобыть планшет и ноут, и к вечеру у вас будет своя интерактивная новелла. Рисовать уметь также необязательно, - обязательно иметь хорошее настроение и стоящую торчком креативилку.</p>
							<p>По темам и сеттингу также ограничений нет. Если кто-то хочет делать порно с расчленёнкой - ради бога, это евоное личное дело. (Однако - береги карму смолоду!). Главное, чтобы ваше творение содержало в себе отжиг и задор.</p>
							<p>Принять участие очень просто, см. раздел <a href="/people">People</a></p>
						</div>
					</div> <!-- briefLine -->
					<div class="briefLine">
						<div class="briefImage">
							<img src="./img/icon_place.png" alt="place"/>
						</div>
						<div class="briefDescription">
							<h2>Программа GP#4</h2>
							<p>В день пати, 16 июня 2013 года, случится следующее: </p>
								<ul class="briefList">
									<li>13.00. Начало Гик-Пати №3.</li>
									<li>12.00 - 13.00. Вступительное о Unity и о дизайне игр, разделение на команды.</li>
									<li>13.00 - 00.00 (полночь). Дикий цифровой отжиг.</li>
									<li>00.00. Просмотр результатов. Подведение итогов.</li>
									<li>XX.YY. Веселье с применением танцев и умеренного алкоголя.</li>
								</ul>
							<p>Также в программе:</p>
							<ul class="briefList">
								<li>Показ последних демок и произведений цифрового искусства</li>
								<li>Много положительного общения</li>
								<li>Новые хорошие знакомые и веселье</li>
							</ul>
						</div>
					</div> <!-- briefLine -->
					<div class="briefLine">
						<div class="briefImage">
							<img src="./img/icon_place.png" alt="place"/>
						</div>
						<div class="briefDescription">
							<h2>Время и место GP#4</h2>
							<p><b>Время:</b> 16 июня, 2013, в воскресение, начало в 13.00, окончание в 00.00. Действие будет происходить в замечательном баре [<a href="http://vk.com/kl10tch">Klюtch</a>], первом в Санкт-Петербурге постинтернет заведении для братьев в цифре.</p>
							<p><b>Место:</b> IT-бар [<a href="http://vk.com/kl10tch">KLЮTCH</a>]. Ул. Чехова, д. 3. Ступеньки вниз. Цветастая дверь в андерграунд. Пароль: Гик-пати.</p>
							<p><b>Метро:</b> Площадь Восстания.</p>
							
							<div id="yandexMap">
							<div id="ymaps-map-id_136157756246726062489" style="width: 450px; height: 350px;"></div>
							<div style="width: 450px; text-align: right;">
								<a href="http://api.yandex.ru/maps/tools/constructor/index.xml" target="_blank" style="font: 13px Arial, Helvetica, sans-serif;">Создано с помощью инструментов Яндекс.Карт</a>
							</div>
							</div>
							<script type="text/javascript">function fid_136157756246726062489(ymaps) {var map = new ymaps.Map("ymaps-map-id_136157756246726062489", {center: [30.353803999999972, 59.93764596798268], zoom: 15, type: "yandex#map"});map.controls.add("zoomControl").add("mapTools").add(new ymaps.control.TypeSelector(["yandex#map", "yandex#satellite", "yandex#hybrid", "yandex#publicMap"]));map.geoObjects.add(new ymaps.Placemark([30.353804, 59.93644], {balloonContent: "Kl10tch"}, {preset: "twirl#lightblueDotIcon"}));};</script>
							<script type="text/javascript" src="http://api-maps.yandex.ru/2.0-stable/?lang=ru-RU&coordorder=longlat&load=package.full&wizard=constructor&onload=fid_136157756246726062489"></script>
							
							<p>Наш имейл: <a href="mailto:geekparty.ru@gmail.com">geekparty.ru@gmail.com</a>.</p>
						</div>
					</div> <!-- briefLine -->
				</div> <!-- content -->
{% endblock %}
