{% extends 'GeekPartyBundle::parent.html.twig' %}

{% block title %} GeekParty :: Админка {% endblock %}

{% block main %}
    <ul>
        <li><a href="{{ path('party') }}">Parties</a></li>
        <li><a href="{{ path('work') }}">Works</a></li>
        <li><a href="{{ path('workauthor') }}">WorksAuthor</a></li>
    </ul>
{% endblock %}
