{% extends 'GeekPartyBundle::parent.html.twig' %}

{% block title %} GeekParty :: Админка {% endblock %}

{% block main %}
    <ul>
        <li><a href="{{ path('admin_parties') }}">Parties</a></li>
        <li><a href="{{ path('admin_works') }}">Works</a></li>
    </ul>
{% endblock %}
