{% extends 'GeekPartyBundle::parent.html.twig' %}

{% block main %}
				<div id="firstline">
					<div id="brief">
						<div class="p16">
							<div class="briefLine">
								<div class="briefImage">
									<img src="/img/icon_question.png" alt="what" />
								</div>
								<div class="briefDescription">
									<h2>Что это такое?</h2>
									<p><span class="orange">Гик-пати</span> &mdash; это цифровое творчество в режиме реального времени. Делаем задорные цифровые отжиги, втыкаем в произведения цифрового искусства, делимся, общаемся в теплом кругу единомышленников, жжом</p>
								</div>
							</div> <!-- briefLine -->
							<div class="briefLine">
								<div class="briefImage">
									<img src="/img/icon_question.png" alt="what" />
								</div>
								<div class="briefDescription">
									<h2>Где и когда?</h2>
									<p>Гик-пати №2 состоится <span class="orange">23 февраля 2013</span>. Конечно, никто не запрещает участвовать из дома в гордом одиночестве, но, как известно, вместе веселиться веселее. Поэтому заходите в раздел &laquo;<a href="/about">About</a>&raquo; и ищите место проведения Гик-пати №2. В разделе &laquo;<a href="/people">People</a>&raquo; можно поискать единомышленников, и вместе наверняка вы придумаете, где разместить вашу коалицию на время party.</p>
								</div>
							</div> <!-- briefLine -->
							<div class="briefLine">
								<div class="briefImage">
									<img src="/img/icon_question.png" alt="what" />
								</div>
								<div class="briefDescription">
									<h2>Каков план мероприятия?</h2>
									<p>Весь день будем делать задорные игры на <u>html5</u>! А когда доделаем, немного выпьем!</p>
								</div>
							</div> <!-- briefLine -->
						</div>
					</div>
					<div id="twitter">
                        <div id="tweets">
                        </div>

                        <script type="text/javascript">
                            $('#tweets').jTweetsAnywhere({
                                searchParams: 'q=%23geekpartyru',
                                count: 20,
                                showTweetFeed: {
                                    showProfileImages: true,
                                    showUserScreenNames: true,
                                    showActionReply: true,
                                    showActionRetweet: true,
                                    showActionFavorite: true,
                                    paging: {
                                        mode: 'endless-scroll'
                                    }
                                },
                                showTimestamp: {
                                    refreshInterval: 15
                                },
                                autorefresh: {
                                    mode: 'trigger-insert',
                                    interval: 30
                                },
                                onDataRequestHandler: function(stats) {
                                    if (stats.dataRequestCount < 11) {
                                        return true;
                                    }
                                    else {
                                        alert("To avoid struggling with Twitter's rate limit, we stop loading data after 10 API calls.");
                                    }
                                }
                            });
                        </script>
                    </div>
				</div> <!-- firstline -->	
{% endblock %}
