{% extends 'GeekPartyBundle::parent.html.twig' %}

{% block main %}
    <div id="content">
        <div id="firstline">
            <div id="brief">
                <div>
                    {{ text.body|purify }}
                </div>

                <div class="News">
                    <h2>Новости</h2>
                    <div class="PullRight">
                        <div class="Button">
                            <div class="LeftEdge"></div>
                            <div class="Body"><a href="{{ path("_edit_article",
                                {"action":"edit"}) }}">Добавить новость</a></div>
                            <div class="RightEdge"></div>
                        </div>
                    </div>
                    <div class="Clear"></div>
                    <ul class="NewsList">
                    {% for article in articles %}
                        <li class="NewsArticle">
                            <h3>{{ article.title }}</h3>
                            <div>
                                {{ article.body|purify }}
                            </div>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div> <!-- brief -->
        </div> <!-- firstline -->
    </div> <!-- content -->
{% endblock %}
