{% extends 'GeekPartyBundle::parent.html.twig' %}

{% import 'GeekPartyBundle::macros.html.twig' as macros %}

{% block main %}

    <div class="row">
        <div class="col-md-12 k-news-block">
            {% if text.body is not null %}
                {{ text.body|raw }}
            {% endif %}
        </div>
    </div>

    <div class="row" id="k-page-header">
        <div class="col-md-12">
            <h2>
                Новости&nbsp;
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {{ macros.simple_button('[добавить новость]', path("_edit_article", {"action":"edit"})) }}
                {% endif %}
            </h2>

            {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
                <div id="k-menu-social">
                    {{ macros.fb_simple_button('Войти', url("hwi_oauth_service_redirect", {service: "facebook"})) }}
                    {{ macros.vk_simple_button('Войти', url("hwi_oauth_service_redirect", {service: "vkontakte"})) }}
                </div>
            {% endif %}
        </div>
    </div>

    {% for article in articles %}
        {% include 'GeekPartyBundle::article.html.twig' with {'entity':article} %}
    {% endfor %}

    {% include 'GeekPartyBundle::disqus.html.twig' %}
{% endblock %}
