{% extends 'GeekPartyBundle::parent.html.twig' %}

{% block main %}
				<div id="firstline">
					<div id="brief">
						<div class="p16">
							<div class="briefLine">
								<div class="briefImage">
									<img src="/img/icon_question.png" alt="what" />
								</div>
								<div class="briefDescription">
									<h2>Что это такое?</h2>
									<p><span class="orange">Гик-пати</span> - это цифровое творчество в режиме реального времени. Делаем задорные цифровые отжиги, втыкаем в произведения цифрового искусства, делимся, общаемся в теплом кругу единомышленников, жжом</p>
								</div>
							</div> <!-- briefLine -->
							<div class="briefLine">
								<div class="briefImage">
									<img src="/img/icon_question.png" alt="what" />
								</div>
								<div class="briefDescription">
									<h2>Где и когда?</h2>
									<p>Гик-пати №2 состоится <span class="orange">23 февраля 2013</span>. Конечно никто не запрещает участвовать из дома в гордом одиночестве, но, как известно, вместе веселиться веселее. Поэтому заходите в раздел "<u>Party places</u>" и ищите помещения в своем городе. Если такого пока нет - в разделе "участники" можно поискать единомышленников и вместе наверняка вы придумаете где разместить вашу коалицию на время party.</p>
								</div>
							</div> <!-- briefLine -->
							<div class="briefLine">
								<div class="briefImage">
									<img src="/img/icon_question.png" alt="what" />
								</div>
								<div class="briefDescription">
									<h2>Каков план мероприятия?</h2>
									<p>Весь день будем делать задорные игры на <u>html5</u>! А когда доделаем немного выпьем!</p>
								</div>
							</div> <!-- briefLine -->
						</div>
					</div>
					<div id="twitter">
						<div>
                    <a class="twitter-timeline" href="https://twitter.com/search?q=%23geekparty" data-widget-id="304351368582406145">Твиты о "#geekparty"</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
						</div>
					</div>
				</div> <!-- firstline -->	
				<div id="content">
                {#
					<h2>Работы участников / live стримы</h2>
					<div id="entries">
						<div class="entry">
							<div class="entryPadding borderBlock">
								<h2>Game name</h2>
								<div class="entryLeftBar">
									<img class="gameIcon" src="/img/game_icon.png" />
									<a class="playGame" href=""><span class="playLabel">Play</span></a>
									<div class="basic" data-average="3" data-id="1"></div>
									<a class="numVotes" href="">18 votes</a>
								</div>
								<div class="entryRightBar">
									<div class="entryDescription">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus venenatis dui a tortor rutrum sed facilisis velit volutpat. Cras cursus felis vel diam blandit rutrum.</p>
									</div>
									<table cellspacing="0" cellpadding="0" class="credits">
										<tr>
											<td class="detail">Source:</td>
											<td class="description"><a href="">http://gamehub.com/gamename</a></td>
										</tr>
										<tr>
											<td class="detail">Authors:</td>
											<td class="description"><a href="">@ololo</a>, <a href="">@nlo</a></td>
										</tr>
										<tr>
											<td class="detail">Group:</td>
											<td class="description"><a href="">#funkygeeks</a></td>
										</tr>
									</table>
								</div>
								<a class="entryComments" href="">20 comments</a>
							</div>
						</div> <!-- entry -->
						<div class="entry">
							<div class="entryPadding borderBlock">
								<h2>Game name</h2>
								<div class="entryLeftBar">
									<img class="gameIcon" src="/img/game_icon.png" />
									<a class="playGame" href=""><span class="playLabel">Play</span></a>
									<div class="basic" data-average="3" data-id="1"></div>
									<a class="numVotes" href="">18 votes</a>
								</div>
								<div class="entryRightBar">
									<div class="entryDescription">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus venenatis dui a tortor rutrum sed facilisis velit volutpat. Cras cursus felis vel diam blandit rutrum.</p>
									</div>
									<table cellspacing="0" cellpadding="0" class="credits">
										<tr>
											<td class="detail">Source:</td>
											<td class="description"><a href="">http://gamehub.com/gamename</a></td>
										</tr>
										<tr>
											<td class="detail">Authors:</td>
											<td class="description"><a href="">@ololo</a>, <a href="">@nlo</a></td>
										</tr>
										<tr>
											<td class="detail">Group:</td>
											<td class="description"><a href="">#funkygeeks</a></td>
										</tr>
									</table>
								</div>
								<a class="entryComments" href="">20 comments</a>
							</div>
						</div> <!-- entry -->
						<div class="entry">
							<div class="entryPadding borderBlock">
								<h2>Game name</h2>
								<div class="entryLeftBar">
									<img class="gameIcon" src="/img/game_icon.png" />
									<a class="playGame" href=""><span class="playLabel">Play</span></a>
									<div class="basic" data-average="3" data-id="1"></div>
									<a class="numVotes" href="">18 votes</a>
								</div>
								<div class="entryRightBar">
									<div class="entryDescription">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus venenatis dui a tortor rutrum sed facilisis velit volutpat. Cras cursus felis vel diam blandit rutrum.</p>
									</div>
									<table cellspacing="0" cellpadding="0" class="credits">
										<tr>
											<td class="detail">Source:</td>
											<td class="description"><a href="">http://gamehub.com/gamename</a></td>
										</tr>
										<tr>
											<td class="detail">Authors:</td>
											<td class="description"><a href="">@ololo</a>, <a href="">@nlo</a></td>
										</tr>
										<tr>
											<td class="detail">Group:</td>
											<td class="description"><a href="">#funkygeeks</a></td>
										</tr>
									</table>
								</div>
								<a class="entryComments" href="">20 comments</a>
							</div>
						</div> <!-- entry -->
						<div class="entry">
							<div class="entryPadding borderBlock">
								<h2>Game name</h2>
								<div class="entryLeftBar">
									<img class="gameIcon" src="/img/game_icon.png" />
									<a class="playGame" href=""><span class="playLabel">Play</span></a>
									<div class="basic" data-average="3" data-id="1"></div>
									<a class="numVotes" href="">18 votes</a>
								</div>
								<div class="entryRightBar">
									<div class="entryDescription">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus venenatis dui a tortor rutrum sed facilisis velit volutpat. Cras cursus felis vel diam blandit rutrum.</p>
									</div>
									<table cellspacing="0" cellpadding="0" class="credits">
										<tr>
											<td class="detail">Source:</td>
											<td class="description"><a href="">http://gamehub.com/gamename</a></td>
										</tr>
										<tr>
											<td class="detail">Authors:</td>
											<td class="description"><a href="">@ololo</a>, <a href="">@nlo</a></td>
										</tr>
										<tr>
											<td class="detail">Group:</td>
											<td class="description"><a href="">#funkygeeks</a></td>
										</tr>
									</table>
								</div>
								<a class="entryComments" href="">20 comments</a>
							</div>
						</div> <!-- entry -->
					</div> <!-- entries -->	
                #}
				</div> <!-- content -->
{% endblock %}
