{% extends 'GeekPartyBundle::parent.html.twig' %}

{% block main %}
				<div id="firstline">
					<div id="brief">
						<div class="p16">
							<div class="briefLine">
								<div class="briefImage">
									<img src="/img/icon_question.png" alt="what" />
								</div>
								<div class="briefDescription">
									<h2>Что это такое?</h2>
									<p><span class="orange">Гик-пати</span> &mdash; это цифровое творчество в режиме реального времени. Делаем задорные цифровые отжиги, втыкаем в произведения цифрового искусства, делимся, общаемся в теплом кругу единомышленников, жжом.</p>
									<p>Компьютер - совершенное орудие для творчества. Наша цель - объединить близких по духу людей, увлеченных технологиями, и вместе менять мир к лучшему. Компьютер дает нам свободу: творить, мыслить и жить как хочется. Все, кто умеет  (или хочет научится!) выражать себя в цифре - добро пожаловать.
									</p>
								</div>
							</div> <!-- briefLine -->
							<div class="briefLine">
								<div class="briefImage">
									<img src="/img/icon_question.png" alt="what" />
								</div>
								<div class="briefDescription">
									<h2>Где и когда?</h2>
									<p>Гик-пати №3 состоится <span class="orange">14 апреля 2013</span>. В этот раз мы будем цифрово отжигать на Юнити. Все подробности в разделе &laquo;<a href="/about">About</a>&raquo;. 
									</p>
								</div>
							</div> <!-- briefLine -->
							<div class="briefLine">
								<div class="briefImage">
									<img src="/img/icon_question.png" alt="what" />
								</div>
								<div class="briefDescription">
									<h2>Каков план мероприятия?</h2>
									<p>Весь день будем делать задорные игры на <u>html5</u>! А когда доделаем, немного выпьем!</p>
								</div>
							</div> <!-- briefLine -->
						</div>
					</div>
					<div id="twitter">
                        <div id="tweets">
                        </div>

                        <script type="text/javascript">
                            $('#tweets').jTweetsAnywhere({
                                searchParams: 'q=%23geekpartyru',
                                count: 20,
                                showTweetFeed: {
                                    showProfileImages: true,
                                    showUserScreenNames: true,
                                    showActionReply: true,
                                    showActionRetweet: true,
                                    showActionFavorite: true,
                                    paging: {
                                        mode: 'endless-scroll'
                                    }
                                },
                                showTimestamp: {
                                    refreshInterval: 15
                                },
                                autorefresh: {
                                    mode: 'trigger-insert',
                                    interval: 30
                                },
                                onDataRequestHandler: function(stats) {
                                    if (stats.dataRequestCount < 11) {
                                        return true;
                                    }
                                    else {
                                        alert("To avoid struggling with Twitter's rate limit, we stop loading data after 10 API calls.");
                                    }
                                }
                            });
                        </script>
                    </div>
				</div> <!-- firstline -->	
{% endblock %}
