Redirect 301 /gp2 /works/gp2

<IfModule mod_rewrite.c>
    RewriteEngine On

    #<IfModule mod_vhost_alias.c>
    #    RewriteBase /
    #</IfModule>

    RewriteCond %{HTTP_HOST} ^geekparty.ru$ [OR]
    RewriteCond %{HTTP_HOST} ^www.geekparty.ru$
    RewriteRule (.*)$ http://geekparty.su/$1 [R=301,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ app.php [QSA,L]
</IfModule>
